@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply px-6 py-3 font-montserrat text-gray-900 rounded-lg bg-gray-200 hover:shadow-md whitespace-nowrap font-semibold transition-all shadow-xl shadow-gray-600 hover:shadow-gray-400 hover:bg-gray-900 hover:text-gray-200 hover:border-2 hover:border-gray-200 active:scale-90  hover:translate-y-1 duration-150;
  }
}

@layer components {
  .tile-button {
    @apply px-6 py-3 font-montserrat text-gray-900 rounded-lg bg-gray-200 hover:shadow-md whitespace-nowrap font-semibold transition-all shadow-lg shadow-gray-600 hover:shadow-gray-400 hover:bg-gray-900 hover:text-gray-200 hover:border-2 hover:border-gray-200 active:scale-90  hover:translate-y-1 duration-150;
  }
}

@layer components {
  .adminBtn {
    @apply font-montserrat border-2  border-gray-400 text-gray-100 flex flex-col justify-center items-center font-semibold text-xl w-80 h-20 bg-gray-600 shadow-xl hover:shadow-lg  whitespace-nowrap hover:shadow-black hover:bg-gray-200 hover:text-gray-900 hover:border-2 hover:border-gray-900 hover:scale-95 active:scale-90 hover:translate-y-2 duration-200 transition-all hover:outline-double hover:ring-2 hover:ring-white hover:ring-offset-4 rounded-md  shadow-gray-800 hover:bg-gradient-to-br from-cyan-400 to-cyan-600;
  }
}
.app {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

h1,
.headings {
  font-family: 'Irish Grover', cursive;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 2px var(--color), 0 0 0 4px var(--bgcolor);
}
.btn:active {
  transform: scale(0.95);
}

::selection {
  color: var(--light);
  background: var(--red);
}

.closed-day {
  background-color: #550000;
  color: white;
}

.closed-day:hover {
  background-color: #6d0000 !important;
  color: white !important;
}

.closed-day:enabled:focus {
  background-color: #8a0000 !important;
  color: white;
}

.loginPage {
  min-height: 100vh;
  max-height: 100vh;
  background-color: hsla(199, 97%, 45%, 1);
  background-image: radial-gradient(
    at 20% 0%,
    rgb(228, 247, 242) 5px,
    transparent 50%
  );
}

.hers {
  background: conic-gradient(
    at center top,
    rgb(34, 211, 238),
    rgb(14, 165, 233),
    rgb(255, 255, 255)
  );
}
